.switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 3px;
  bottom: 2.2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider:before {
  /* background-color: #006ca2; */
}

input:checked + .slider {
  /* background-color: #2196F3; */
  background-color: #3286b0;
  /* background-color: #b0d1e2; */
}

input:focus + .slider {
  box-shadow: 0 0 1px #3286b0;
}

input:checked + .slider:before {
  -webkit-transform: translateX(15.5px);
  -ms-transform: translateX(15.5px);
  transform: translateX(15.5px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
/* Rounded disabled */
.slider.disabled {
  background-color: #ccc !important;
  cursor: not-allowed;
}

.slider.round:before {
  border-radius: 50%;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
